@model Hastane_Randevu_Sistemi.Models.Randevu

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label> Hastaneler</label>
                <select class="form-select form-select-lg mb-3" aria-label="Large select example" onchange="GetPoliklinikler(this.value)">
                    <option value="">Seçiniz</option>
                    @foreach (var item in ViewData["Hastaneler"] as List<Hastane>)
                    {
                        <option value="@item.HastaneID">@item.HastaneAdi</option>
                    }
                </select>
            </div>
            <div>
                <label> Poliklinikler</label>
                <select id="PoliklinikId" class="form-select form-select-lg mb-3" aria-label="Large select example" onchange="GetDoktorlar(this.value)">
                    
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DoktorId" class="control-label"></label>
                <select id="DoktorId" asp-for="DoktorId" class="form-select form-select-lg mb-3" aria-label="Large select example"></select>
                <span asp-validation-for="DoktorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RandevuGun" class="control-label"></label>
                <input asp-for="RandevuGun" class="form-control" />
                <span asp-validation-for="RandevuGun" class="text-danger"></span>
            </div>
            @* <input type="date" name="randevuTarihi" />
            <select name="randevuSaati">
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
                <option value="19:00">19:00</option>
            </select>
            <input type="submit" value="Randevu Al" /> *@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEmpty" /> @Html.DisplayNameFor(model => model.IsEmpty)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function GetPoliklinikler(hastaneId) {
            $.ajax({
                url: '@Url.Action("GetPoliklinikler", "Randevu")',
                data: { hastaneId: hastaneId },
                type: 'GET',
                success: function (poliklinikler) {
                    $("#PoliklinikId").empty(); // Önceki seçenekleri temizle
                    $("#PoliklinikId").append($('<option value="">Seçiniz</option>'));
                    $.each(poliklinikler, function (index, poliklinik) {
                        $("#PoliklinikId").append($('<option value="' + poliklinik.poliklinikID + '">' + poliklinik.poliklinikAdi + '</option>'));
                    });
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
        function GetDoktorlar(poliklinikId) {
            $.ajax({
                url: '@Url.Action("GetDoktorlar", "Randevu")',
                data: { poliklinikId: poliklinikId},
                type: 'GET',
                success: function (doktorlar) {
                    $("#DoktorId").empty(); // Önceki seçenekleri temizle
                    $("#DoktorId").append($('<option value="">Seçiniz</option>'));
                    $.each(doktorlar, function (index, doktor) {
                        $("#DoktorId").append($('<option value="' + doktor.doktorID + '">' + doktor.doktorAd + '</option>'));
                    });
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    </script>
}
