@model Hastane_Randevu_Sistemi.Models.Hastane
@{
	ViewData["Title"] = "Details";
	var hastane = ViewData["Hastane"] as Hastane;
}
<div>
	<h3>Hastane Detayları</h3>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.HastaneAdi)
		</dt>
		<dd class="col-sm-9">
			@hastane.HastaneAdi
		</dd>
		<dd class="col-sm-1"><a asp-action="Edit" asp-route-id="@Model.HastaneID"><img class="icon" src="~/images/düzenle.jpg" /></a></dd>
	</dl>
</div>
<br />
<div>
	<table class="table table-responsive-lg">
		<thead>
			<tr>
				<th>
					<h4 class="text-center">Poliklinikler</h4>
				</th>

			</tr>
		</thead>
		@foreach (var item in ViewData["Poliklinikler"] as List<Poliklinik>)
		{
			<tr>
				<td>
					<div class="row">
						<div class="col-lg-10">
							@Html.DisplayFor(modelItem => item.PoliklinikAdi)
						</div>
						<div class="col-lg-2">
							@if (User.IsInRole("Admin"))
							{
								<a asp-action="Details" asp-route-id="@item.PoliklinikID"><img class="icon" src="~/images/detail.png" /></a>
								<a asp-action="Edit" asp-route-id="@item.PoliklinikID"><img class="icon" src="~/images/düzenle.jpg" /></a>
								<a asp-action="Delete" asp-route-id="@item.PoliklinikID"><img class="icon" src="~/images/carpi.png" /></a>
							}
							else
							{
								<a asp-action="Details" asp-route-id="@item.PoliklinikID"><img class="icon" src="~/images/detail.png" /></a>
							}
						</div>
					</div>
				</td>
			</tr>
		}
	</table>
</div>
<br />
<div>
	<a asp-action="Index"><img style="width: 40px; length: 25px;" src="~/images/geridon.png" /></a>
</div>
