@model IEnumerable<Hastane_Randevu_Sistemi.Models.Hastane>
<link rel="stylesheet" href="~/css/index.css" />
@{
	ViewData["Title"] = "Index";

}
<table class="table table-responsive-lg">
	<thead>
		<tr>
			<div class="row">
				<div class="col-lg-10">
					<h3 class="text-center">Hastaneler</h3>
				</div>
				<div class="col-lg-2">
					<a asp-action="Create" asp-route-id=""><img style="width: 45px; height: 45px;" src="~/images/arti.jpg" /></a>
				</div>
			</div>
			<th>
				
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<div class="row">
						<div class="col-lg-10">
							@Html.DisplayFor(modelItem => item.HastaneAdi)
						</div>
						<div class="col-lg-2">
							@if (User.IsInRole("Admin"))
							{
								<a asp-action="Details" asp-route-id="@item.HastaneID"><img class="icon" src="~/images/detail.png" /></a>
								<a asp-action="Edit" asp-route-id="@item.HastaneID"><img class="icon" src="~/images/düzenle.jpg" /></a>
								<a asp-action="Delete" asp-route-id="@item.HastaneID"><img class="icon" src="~/images/carpi.png" /></a>
							}
							else
							{
								<a asp-action="Details" asp-route-id="@item.HastaneID"><img class="icon" src="~/images/detail.png" /></a>
							}
						</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
