@model IEnumerable<HastaneRandevuSistemi.Models.Hastane>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HastaneAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HastaneAdi)
                </td>
            @if(User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.HastaneID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.HastaneID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.HastaneID">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td><a asp-action="Details" asp-route-id="@item.HastaneID">Details</a></td>
                    }
                        
                }
                
            
        </tr>
}
    </tbody>
</table>
